#chat {
    float: left;
    position: absolute;
    background-color: rgba(240, 240, 240, 1);
    width: 30%;
    height: 65%;
    margin-left: 68%;
    margin-top: 10%;
    z-index: 5 !important;
    display: block;
    border-radius: 5px;
    transition: all 0.1s;
    -webkit-transition: all 0.1s;
  }
  #header-chat {
    font-weight: bold;
    font-family: Avenir, cursive;
    font-size: 18px;
    color: #fff;
    background-color: #2c3e50;
    height: 10%;
    width: 100%;
    border-radius: 5px 5px 0 0;
    text-align: center;
  }
  #list-chat {
    background-color: #2c3e50;
    float: left;
    /* position: absolute; */
    width: 30%;
    border-top: 1px solid;
    border-color: #fff;
    height: 90%;
    border-radius: 0 0 0 5px;
    color: white;
  }
  
  .chat-canal {
    z-index: 8 !important;
    width: 100%;
    background-color: #2c3e50;
    color: white;
    float: left;
  }
  #messages-box-chat {
    width: 70%;
    height: 83%;
    overflow-y: scroll;
    flex-direction: column-reverse;
  }
  
  .message {
    font-weight: bold;
    font-size: 15px;
    color: #fff;
    font-family: Avenir;
    float: left;
    z-index: 9;
    width: 60%;
    border-radius: 10px;
    margin-right: 50%;
    padding: 10px;
  }
  
  .message-current-user {
      font-weight: bold;
      font-size: 15px;
      color: #fff;
      font-family: Avenir;
      float: right;
      z-index: 9;
      width: 45%;
      padding: 10px;
      border-radius: 10px;
      margin-left: 10%;
  }
  
  .message-current-user .content {
    background-color: #599cba;
    width: auto;
    max-width: 100%;
    flex: auto;
    float: right;
    border-radius: 10px;
    word-wrap: break-word;
    padding: 10px 15px;
    text-align: left;
    line-height: 25px;
  }
  
  .message .content {
    background-color: #9fa0a4;
    width: auto;
    max-width: 70%;
    float: left;
    border-radius: 10px;
    word-wrap: break-word;
    padding: 10px 15px;
    margin-left: 2%;
    text-align: left;
    line-height: 25px;
  }
  
  .chat-canal {
      margin-top: 5px;
      font-size: 20px;
      text-align: left;
      padding-left: 10px;
      border-top: 1px solid;
      border-bottom: 1px solid;
  }
  
  .name-canal {
      max-width: 30%;
      width: auto;
      height: 10%;
      max-height: 10%;
      float: left;
  
  }
  
  .name-canal a {
      text-decoration: none;
      font-weight: bold;
      color: white !important;
  }
  
  .settings-canal {
      height: 5%;
      background-color: blue;
      width: auto;
      max-width: 40%;
      margin-left: auto;
      
  }
  
  .settings-canal img {
      height: 25%;
      width: 25%;
      float:right;
      margin: 3px;
      
  }
  
  .message .user-image {
    z-index: 10;
    float: left;
    border-radius: 50%;
    width: 30px;
    height: 30px;
  }
  
  #input-chat {
    position: relative;
    margin-top: 2%;
  }
  
  #input-text-chat {
    appearance: none;
    border: none;
    outline: none;
    background: none;
    display: block;
    width: 50%;
    padding: 10px 15px;
    border-radius: 8px;
    margin-bottom: 15px;
    margin-left: 30%;
    position: absolute;
    color: #333;
    font-size: 18px;
    box-shadow: 0px 0px 0px rgba(0, 0, 0, 0);
    background-color: rgb(220, 220, 220);
    transition: 0.4s;
  }
  #input-submit-chat {
    appearance: none;
    border: none;
    outline: none;
    background: none;
    display: block;
    position: relative;
    margin-left: 80%;
    width: 20%;
    padding: 10px 15px;
    background-color: #599cba;
    border-radius: 8px;
    color: rgb(240, 240, 240);
    font-size: 18px;
    font-weight: 700;
  }

.icon {
  width: 20px;
  height: 20px;
  margin: 5px;
}